byoc: false
cluster_id: ''
cluster_secret: ''
io_buffer: 16777216
max_download: 64
min_rate: 500
min_rate_timestamp: 1000
port: 8800
public_host: ''
public_port: null
server_name: TTB-Network
timeout: 30
