advanced:
  auto_update: false
  debug: false
  download_threads: 64
  file_check_mode: size
  header_bytes: 4096
  io_buffer: 16777216
  language: zh_cn
  min_rate: 500
  min_rate_timestamp: 1000
  request_buffer: 8192
  skip_sign: false
  timeout: 30
  url: https://openbmclapi.bangbang93.com/
cache:
  buffer: 536870912
  check: 360
  enable: true
  time: 1800
cluster:
  byoc: false
  enable: true
  id: ''
  public_host: ''
  public_port: 8800
  reconnect:
    delay: 60
    retry: -1
  secret: ''
  timeout:
    enable: 120
    keepalive: 300
dashboard:
  password: ''
  username: admin
  websocket: true
storages:
  bmclapi:
    path: ./bmclapi
    type: file
    width: 0
web:
  force_ssl: false
  port: 8080
  server_name: TTB-Network
  ssl_port: 8800
  x_forwarded_for: 0
