
name: Create tagged release

on:
  push: 
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Create release
        run: npx changelogithub-chinese
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.HUB_USERNAME}}
          password: ${{secrets.HUB_PASSWORD}}
      - name: Login to Alibaba Cloud Container Registry (ACR)
        uses: docker/login-action@v3
        with:
          username: ${{secrets.CLOUD_USERNAME}}
          password: ${{secrets.CLOUD_PASSWORD}}
          registry: registry.cn-hangzhou.aliyuncs.com
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            silianz/python-openbmclapi:latest
            silianz/python-openbmclapi:${{env.RELEASE_VERSION}}
            registry.cn-hangzhou.aliyuncs.com/silianz/python-openbmclapi:latest
            registry.cn-hangzhou.aliyuncs.com/silianz/python-openbmclapi:${{env.RELEASE_VERSION}}
          platforms: linux/amd64, linux/arm64
