
name: Create tagged release

on:
  push: 
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: ${{github.ref}}
          release_name: Release ${{github.ref}}
          draft: false
          prerelease: false
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Write version
        run: echo "${GITHUB_REF#refs/*/}" > VERSION
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.HUB_USERNAME}}
          password: ${{secrets.HUB_PASSWORD}}
      - name: Login to Alibaba Cloud Container Registry (ACR)
        uses: docker/login-action@v3
        with:
          username: ${{secrets.CLOUD_USERNAME}}
          password: ${{secrets.CLOUD_PASSWORD}}
          registry: registry.cn-hangzhou.aliyuncs.com
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            silianz/python-openbmclapi:latest
            silianz/python-openbmclapi:${{env.RELEASE_VERSION}}
            registry.cn-hangzhou.aliyuncs.com/silianz/python-openbmclapi:latest
            registry.cn-hangzhou.aliyuncs.com/silianz/python-openbmclapi:${{env.RELEASE_VERSION}}
          platforms: linux/amd64, linux/arm64
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: master
      - name: Write version
        run: echo "${GITHUB_REF#refs/*/}" > VERSION
      - name: Commit and push
        run: |
          git add VERSION
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit -a -m ":sparkles: 更新 VERSION"
          git push
      

        
