[Unit]
Description=Py-OpenBmclAPI Service
Documentation=https://github.com/TTB-Network/python-openbmclapi
Wants=basic.target
After=network.target

[Service]
Type=simple
User=openbmclapi
WorkingDirectory=/opt/py-openbmclapi
ExecStart=/opt/py-openbmclapi/start.sh
ExecReload=kill -s HUP $MAINPID
RestartSec=30
Restart=on-failure
TimeoutSec=30

[Install]
WantedBy=multi-user.target
