[Unit]
Description=python-openbmclapi-service
Documentation=https://python-openbmclapi.ttb-network.top/
Wants=basic.target
After=network.target

[Service]
Type=simple
User=openbmclapi
WorkingDirectory=/opt/python-openbmclapi
ExecStart=/opt/python-openbmclapi/start.sh
ExecReload=kill -s HUP $MAINPID
RestartSec=30
Restart=on-failure
TimeoutSec=30

[Install]
WantedBy=multi-user.target
