# A script to install python-openbmclapi (modified from go-openbmclapi)
# Copyright (C) 2024 The co-author of go-openbmclapi

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=python-openbmclapi-service
Documentation=https://python-openbmclapi.ttb-network.top/
Wants=basic.target
After=network.target

[Service]
Type=simple
User=openbmclapi
WorkingDirectory=/opt/python-openbmclapi
ExecStart=/opt/python-openbmclapi/start.sh
ExecReload=kill -s HUP $MAINPID
RestartSec=30
Restart=on-failure
TimeoutSec=30

[Install]
WantedBy=multi-user.target
